main {
  width: 90%;
  margin: auto;
}

header {
  background-color: #29292c;
  text-align: center;
  color: white;
  padding: 0.4rem;
  font-family: Segoe UI;
  margin: auto;
}

header h1 {
  margin: auto;
}

header h2 {
  margin: auto;
}
